body {
    margin: 0;
    font-family: cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    width: 500px;
}

.empty {
    font-weight: bolder;
    font-size: large;
    animation-name: text-blink;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.book-info .btn {
    padding: 10px;
}

.toggle {
    margin: auto;
    display: block;
    padding: 10px 20px;
}

.addbook {
    margin: auto;
    display: block;
    padding: 10px 20px;
}

.btn-check {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

@keyframes text-blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}